version: "3.9"

# Định nghĩa một mạng riêng cho service này
networks:
  dacn-net:
    external: true

volumes:
  users-pg-data: # Đặt tên volume riêng cho users-service

services:
  # 1. Service cho CSDL PostgreSQL của Users
  users-db:
    image: postgres:15-alpine
    container_name: users-db
    networks:
      - dacn-net
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: users_db 
    ports:
      - "5433:5432" 
    volumes:
      - users-pg-data:/var/lib/postgresql/data
    restart: unless-stopped
    # Healthcheck để kiểm tra xem CSDL đã sẵn sàng chưa
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U admin -d users_db"] 
      interval: 10s
      timeout: 5s
      retries: 5

  # 2. Service cho ứng dụng Spring Boot Users
  users-app:
    build: 
      context: .
      dockerfile: Dockerfile
    container_name: users-app
    networks:
      - dacn-net
    ports:
      - "8082:8082" 
    environment:
      # Ghi đè cấu hình CSDL để trỏ vào tên service "users-db"
      DB_URL: jdbc:postgresql://users-db:5432/users_db 
      DB_USER: admin
      DB_PASSWORD: admin
      JPA_DDL_AUTO: update
      SPRING_MAIL_PASSWORD: knfz pbig grvg yitz
      JWT_SECRET_KEY: dGhpcy1pcy1hLXNlY3JldC1rZXktZm9yLWp3dC1hdXRoZW50aWNhdGlvbi1pbi1kZXZzZWNvcHMtcHJvamVjdC1tdXN0LWJlLXZlcnktbG9uZy1hbmQtc2VjdXJl
      JWT_EXPIRATION_MS: 86400000
      SPRING_PROFILES_ACTIVE: local
    depends_on:
      users-db:
        condition: service_healthy # Chỉ khởi động app khi CSDL "khỏe mạnh"
    restart: on-failure
